body {
    text-align: center;
    margin: auto;
    background-color: #212121;
}

::selection {
    background-color: #1DB954;
    color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: #1DB954;
    color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: #1DB954;
    color: #fff;
}

::-ms-selection {
    background-color: #1DB954;
    color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: #1DB954;
    color: #fff;
}

#box {
    margin-top:100px;
}
.gradientBorder {
    position: relative;
    margin: auto;
    width: 60vw;
    height: 200px;
    background: linear-gradient(0deg, white, #D3D3D3);
  }
.gradientBorder:before, .gradientBorder:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094,
        #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

#searchBtn {
    background-color: #1DB954;
}

#searchBtn:hover {
    background-color: #37d878;
}

.search {
    height: 30px;
}

.gradientBorder:after {
    filter: blur(50px);
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tabContent {
    display: none;
    padding: 10px 6px 0px 12px;
    border-top: none;
}

.tabLink:hover {
    background-color: #37d878;
}

.active {
    background-color: #1DB954;
}

#noData {
    margin-top: 100px;
    padding-bottom: 10px;
}

#containers{
    margin-top: 100px;
}

.songContainer {
    width: 50vw;
    margin: 10px auto 10px auto;
    padding-top: 10px;
    background-color: #D3D3D3;
}

.songContent {
    text-align: left;
    padding: 0 5px 0 15px;
}

.loaderRing {
    display: inline-block;
    margin: 100px auto 10px auto;
    width: 80px;
    height: 80px;
  }

.loaderRing:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: loaderRing 1.2s linear infinite;
}

@keyframes loaderRing {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

#navigation {
    line-height: 50px;
  }

header {
    background-color: black;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    margin-top:50px;
    color: white;
    text-decoration: none;
}

header li a:hover {
    color: #37d878;
}
