body {
    text-align: center;
    margin: auto;
    background-color: #212121;
    font-family: "Lucida Console", Courier, monospace;
}

input, textarea, select {
    height : 35px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius:10px;
    font-family: "Lucida Console", Courier, monospace;
    font-size: 12px;
  }

::selection {
    background-color: #1DB954;
    color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: #1DB954;
    color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: #1DB954;
    color: #fff;
}

::-ms-selection {
    background-color: #1DB954;
    color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: #1DB954;
    color: #fff;
}

#box {
    margin-top:100px;
}
.gradientBorder {
    position: relative;
    margin: auto;
    width: 60vw;
    height: 200px;
    background: linear-gradient(0deg, white, #D3D3D3);
  }
.gradientBorder:before, .gradientBorder:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094,
        #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

#searchBtn {
    background-color: #1DB954;
    height: 35px;
    border-radius:10px;
    border:0;
    margin-left: 5px;

}

#searchBtn:hover {
    background-color: #37d878;
}

.search {
    height: 30px;
}

.gradientBorder:after {
    filter: blur(50px);
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tabContent {
    display: none;
    padding: 10px 6px 0px 12px;
    border-top: none;
}

.tabLink {
    font-family: "Lucida Console", Courier, monospace;
    margin: 2px 0 2px 0;
    padding: 3px 5px 3px 5px;
}

.tabLink:hover {
    background-color: #37d878;
}

.active {
    background-color: #1DB954;
}

#noData {
    margin-top: 55px;
    padding-bottom: 10px;
}

#containers{
    margin-top: 55px;
}

.songContainer {
    width: 50vw;
    margin: 10px auto 10px auto;
    padding-top: 10px;
    background-color: #D3D3D3;
}

.songContent {
    text-align: left;
    padding: 0 5px 0 15px;
}

.loaderRing {
    display: inline-block;
    margin: 100px auto 10px auto;
    width: 80px;
    height: 80px;
  }

.loaderRing:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: loaderRing 1.2s linear infinite;
}

@keyframes loaderRing {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

#navigation {
    line-height: 50px;
  }

header {
    background-color: black;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    margin-top:50px;
    color: white;
    text-decoration: none;
}

header li a:hover {
    color: #37d878;
}

#loginBtn {
    color: white;
    background: none;
    border: none;
    outline:none;
    cursor: pointer;
    text-decoration: none;
    font-family: "Lucida Console", Courier, monospace;
}

#loginBtn:hover {
    color: #37d878;
}

.marginTop{
    color: white;
    margin-top: 100px;
}

#profilePic {
    vertical-align: middle;
    padding-right: 5px;
    border-radius: 50%;
    width: 30px;
    height: auto;
}

#user {
    padding-right: 20px;
    float: right;
    color: white;
    font-size: 10px;
    font-family: "Lucida Console", Courier, monospace;
}

#instructionText {
    overflow: auto;
    text-align: left;
    font-size: 15px;
    height: 150px;
}

.breakSpace {
    padding: 2px;
}

#textSearchForm {
    position: absolute;
    top: 40%;
    width: 100%;
}

#inputValue {
    padding: 0 10px 0 10px;
    margin: 0 5px 0 5px;
    border-width: 1px;
}

.songControls {
    justify-content: center;
    display: flex;
    margin-top: 20px;
    position:relative;
  }

.playBtn {
    color: rgb(179, 179, 179);
    cursor: pointer;
}

.playerContainer {
    background-color: #505050;
}
.playerContainer .playBtn {
    position: relative;
    top: 1px;
    font-size: 40px;
    margin: 0 5px;
}

.playerContainer .pauseBtn {
    position: relative;
    top: 1px;
    font-size: 40px;
    margin: 0 5px;
  }
  
.playBtn .fa {
    -webkit-text-stroke: 4px #505050;
}

.noPlayer{
    padding: 10px 0 10px 0;
    color: #D3D3D3;
}

.seekBar {
    -webkit-appearance: none !important;
    top: 20px;
    position: relative;
    width: 70%;
    height: 10px;
    background:linear-gradient(to right, #82CFD0 0%, #82CFD0 0%, #fff 0%, #fff 100%);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.seekBar:hover {
    opacity: 1;
}
  
input[type="range"]{
    -webkit-appearance: none !important;
    -moz-apperance: none !important;
    border-radius: 6px;
    height: 6px;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #E9E9E9;
    border: 1px solid #CECECE;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.playTimes {
    margin-top: 13px;
    padding: 0 5px 0 5px;
    color: #D3D3D3;
}

.volumeContainer {
    width: 50px;
    height:20px;
    margin-top: 5px;
}

.volume {
    -webkit-appearance: none;
    border-radius: 6px;
    position: relative;
    transform: rotate(270deg);
    background:black;
    background:linear-gradient(to right, #82CFD0 0%, #82CFD0 0%, #212121 0%, #212121 100%);
    outline: none;
    opacity: 0;
    -webkit-transition: .2s;
    transition: opacity .2s;
    bottom: 92px;
    right: 40px;
}

.volume:hover {
    opacity: 1;
    background: #212121;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(50%, #1DB954),
        color-stop(50%, #212121)
    );
}

.fa-volume-up {
    padding-top: 10px;
}

.fa-volume-up:hover + .volume {
    opacity: 0.7;
    background: #212121;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(50%, #1DB954),
        color-stop(50%, #212121)
    );
}

/* Plalist*/

.iconify {
    width: 25px;
    height: 25px;
    margin: 10px 10px 0 0;
}

.playlistsContainer {
    background-color: #505050;
    color: #D3D3D3;
    opacity: 0.8;
    position:absolute;
    width: 150px;
    height: auto;
    left: 101%;
    padding: 2px 0px 2px 0px;
}

.playlist {
    text-align: left;
    padding: 2px 5px;
}

.playlist:hover {
    background-color:	#B8B8B8;
    color:#505050;
}

/* Create Playlist */

.modal-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    transform: translateZ(0);
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2.5em 1.5em 1.5em 1.5em;
    background-color: #ffffff;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 500px) {
/* Center the Modal! */
    .modal-area {
        background-color: #D3D3D3;
        left: 50%;
        top: 50%;
        height: auto;
        transform: translate(-50%, -50%);
        max-width: 35em;
        max-height: calc(100% - 1em);
    }
}

._modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em;
    line-height: 1;
    background: #f6f6f7;
    border: 0;
    box-shadow: 0;
    cursor: pointer;
    background-color: #1DB954;
}

._modal-close:hover {
    background-color: #37d878;
}

._modal-close-icon {
    width: 25px;
    height: 25px;
    fill: transparent;
    stroke: black;
    stroke-linecap: round;
    stroke-width: 2;
}

.modal-body {
    padding-top: 0.25em;
}

._hide-visual {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

.scroll-lock {
    overflow: hidden;
    margin-right: 17px;
}

.description {
    width: 300px;
    height: 150px;
    padding: 10px 5px;
}

.playListName {
    margin-bottom: 10px;
    width: 300px;
}

.formField {
    display: inline-grid;
    text-align: left;
}

.newPlaylistBtn {
    margin-top: 10px;
    font-family: "Lucida Console", Courier, monospace;
    background-color: #1DB954;
    height: 25px;
}

.newPlaylistBtn:hover {
    background-color: #37d878;
}

.formGroup {
    display: flex;
}

.fileUpload {
    margin-top: 10px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #1DB954;
}

.custom-file-upload:hover {
    background-color: #37d878 ;
}

.playlistImage {
    width: 170px;
    height: 170px;
    padding-top:10px;
}

.uploadImage{
    padding: 25px 5px;
}
