body {
    text-align: center;
    margin: auto;
    background-color: #212121;
    font-family: "Lucida Console", Courier, monospace;
}

input, textarea, select {
    height : 35px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius:10px;
    font-family: "Lucida Console", Courier, monospace;
    font-size: 12px;
    resize: vertical;
  }

::selection {
    background-color: #1DB954;
    color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: #1DB954;
    color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: #1DB954;
    color: #fff;
}

::-ms-selection {
    background-color: #1DB954;
    color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: #1DB954;
    color: #fff;
}

header {
    background-color: black;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    margin-top:50px;
    color: white;
    text-decoration: none;
}

header li a:hover {
    color: #37d878;
}

.marginTop{
    color: white;
    margin-top: 100px;
}

.breakSpace {
    padding: 2px;
}
